:root {
  background-color: rgb(204, 204, 204);
}

.App {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.border {
  padding: 2rem;
  border: solid 2px blueviolet;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: blueviolet;
  box-shadow: 2px 2px #a1a0a0;
}

img {
  width: 200px;
  filter: drop-shadow(5px 5px 5px #333333);
}

button {
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: blueviolet;
  border: solid 2px white;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

button:hover {
  background-color: rgb(122, 0, 236);
}

.name {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin: 0 0 2rem 0;
}